*,*::before, *::after{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfd;
    font-family: sans-serif;
}

.hero{
    width: 60%;
    height: 40%;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    " logo "
    " content "
    " button ";
    
}

.cols{
    width: 70%;
    display: grid;
    margin: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas: "hard firm soft";
    grid-column-gap: 30px;
}


@keyframes grow {
    0% {
        box-shadow: 1px 2px 8px #ccc;
    }
    25% {
        box-shadow: 2px 3px 12px #ccc;
    }
    50% {
        box-shadow: 2px 4px 16px #ccc;
    }
    75% {
        box-shadow: 2px 4px 20px #ccc;
    }
    100% {
        box-shadow: 2px 4px 24px #ccc; 
    }
}
.cols div:hover{
    animation: grow 0.5s ease-in 0s 1 normal forwards;
    -webkit-animation: grow 0.5s ease-in 0s 1 normal forwards;
    background-color: white;
    /* border: rgb(255, 182, 0) 2px solid; */
    /* cursor: pointer; */
}

a{
    text-decoration: none;
    color: black;
}

.logo{ 
    grid-area: "logo";
}

.logo img {
    max-height: 10vh;
    max-width: 15vw;
}
.content{
    grid-area: "content";
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
button{
    grid-area: "button";
    background-color: rgb(255, 182, 0);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    /* box-shadow: 4px 8px 24px #ccc; */
    cursor: pointer;
}

.content h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 16px;
}
.cols div {
    padding: 8px 16px;
    /* box-shadow: 1px 2px 8px #ccc; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 40vh;
    border-radius: 8px;
    border: 2px solid transparent;
}

.cols div img {
    padding-bottom: 12px;
} 

.cols div p {
    font-size: 12px;
    padding: 8px 16px;
   text-align: center;
    line-height: 1.2rem;
}

.cols div a {
    margin: 12px auto 0 auto;
}

.hard {
    grid-area: "hard";

}
.soft{
    grid-area: "soft";
}
.firm {
    grid-area: "firm";
}